* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  background: #f7f3eb;

  font-family: Arial, sans-serif;

  color: #292725;
}

/* Navbar ke neeche section ka top hide na ho */

section {
  scroll-margin-top: 92px;
}
